/* I used BEM in to get the assignment as organised as possible */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
}

.container {
    max-width: 1024px;
    margin: auto;
}

/* Set flexbox for products container */
#products {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    background-color: white;
    width: 19%;
    margin: 2%;
    padding: 1%;
    text-align: center;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.product:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.product__img {
    width: 100%;
}

.product__price {
    background-color: black;
    color: white;
    padding: 1%;
}

/* media query to allow less products per row in flexbox */
@media all and (max-width: 800px) {
    .product {
        width: 44%;
    }

    .product__img {
        width: 90%;
        margin: 5%;
    }
}

@media all and (max-width: 450px) {
    .product {
        width: 94%;
    }
}

